/* Layout */

body {
    font:normal 12px/1.6em Arial, Helvetica, sans-serif;
	color:#2a3845;
	background: #DFE2DB;
	padding: 0;
}

p{
	padding: 0;
	color: #191919;
}

em {
	color: 	#0000CD;

}

#wrapper {

	 width: 1000px;

	
}

#nav {
	background:#06a;
	text-align:right;
	color:#f6dde3;
}

#header {
	float: center;
	
	
}

#bg {
	height:36px;
    background:url('http://img840.imageshack.us/img840/9886/87926428.gif') repeat-x;
}

#main-content {
	float: left;
	margin: 0 auto;
	
}

#main-image {
	
	
}

#left-column {
	width: 500px;
	float: left;
	margin-right: 80px;
	margin-left: 50px;
}

#right-column {
	width: 170px;
	float: right;
	margin-left: 50px;
	
	
}

.sidebar {
    background:url('http://img404.imageshack.us/img404/3092/shadowh.jpg') no-repeat top;
    width: 400px;
    
	
}

#footer {
	position: relative;
    margin-top: -180px; /* negative value of footer height */
    height: 180px;
    clear:both;
    color: :white;
}

/* Global Styling */

a:visited, a:link {
	color:#a43b55;
	text-decoration:underline;
	background:none;
}

a:hover {
	color:#a43b55;
	text-decoration:none;
	background:none;
}

h1 {
	color:#7a2e40;
	margin:0 0 10px;
	padding-bottom:10px;
	font:normal 17px Georgia, serif;
	border-bottom:1px solid #efece7;
}

h2 {
	color:#F0FFFF;
	margin:20px 0 10px;
	padding-bottom:10px;
	font:normal 17px Georgia, serif;
	border-bottom:40px solid #efece7;
	background-color: #000000;
	float: center;
}

h3 {
	color:#7a2e40;
	margin:10px 0;
	padding-bottom:10px;
	font:bold 14px Arial, Helvetica, sans-serif;
	border-bottom:1px solid #efece7;
}

ul {
	padding:0;
	margin:0 0 0 17px;
    list-style:square url('http://img525.imageshack.us/img525/1890/bulletr.gif');
}

.box {
	background:#f7f7f7;
	border:1px solid #f0e9eb;
	padding:15px;
	
}
.quotes{
	background: #7FFF00;
}

div.vertical-line{
  width: 1px; /* Line width */
  background-color: black; /* Line color */
  height: 100%; /* Override in-line if you want specific height. */
  float: left; /* Causes the line to float to left of content. 
    You can instead use position:absolute or display:inline-block
    if this fits better with your design */
}

#nav a {
	margin: 0 50px;
}

#nav a:visited, #nav a:link {
	text-decoration:none;
	color:#f6dde3;
}

#nav a:hover {
	text-decoration:underline;
	color:#f6dde3;
}

#logo {
	margin-bottom:20px;
	font:normal 18px Georgia, serif;
	color:#4B0082;
	text-align:center;
	background-color: #90EE90;
}

	.thumbnails img {
		height: 300px;
		border: 4px solid #555;
		padding: 1px;
		margin: 0 20px 20px 0;
		margin-left: 50px;
	}

	.thumbnails img:hover {
		border: 4px solid #00ccff;
		cursor:pointer;
	}

	.preview img {
		border: 4px solid #444;
		padding: 1px;
		width: 800px;
	}

	#cf {
	  position:relative;
	  height:181px;
	  width:150px;
	  margin:0 auto;
	}

	#cf img {
	  position:absolute;
	  left:0;
	  -webkit-transition: opacity 1s ease-in-out;
	  -moz-transition: opacity 1s ease-in-out;
	  -o-transition: opacity 1s ease-in-out;
	  transition: opacity 1s ease-in-out;
	}

	#cf img.top:hover {
  	opacity:0;
   }

	   #cf_onclick {
	    cursor:pointer;
}

}