/* Layout */

body {
    font:normal 12px/1.6em Arial, Helvetica, sans-serif;
	color:#2a3845;
	background-color: #72DCF5;
	padding: 0;
	margin-right: 100px;
	margin-left: 20px;
	margin-bottom: 460px;
	margin-top: 20px;
}

p {
	padding: 0;
	color: #1C0B07;
	font-size: 1.2em;
}

em {
	color: 	#0000CD;

}

#wrapper {

	 width: 1000px;

	
}

#nav {
	background:#06a;
	text-align:right;
	color:#f6dde3;
	font-size: 1.5em;
	padding-bottom: 20px;
	float: left;
	position: fixed;
}

#header {
	float: left;
	padding: 0;
	position: fixed;
	
	
}

#bg {
	height:36px;
    background:url('http://img840.imageshack.us/img840/9886/87926428.gif') repeat-x;
}

#main-content {
	float: left;
	margin: 0 auto;
	
}

#main-image {
	width: 800;
	height: 350;
	margin-left: 50px;
	
}

#left-column {
	width: 2000;
	float: left;
	margin-right: 60px;
	margin-left: 50px;
}

#right-column {
	width: 10px;
	float: left;
	margin-left: 10px;
	
	
}

.sidebar {
    background:url('http://img404.imageshack.us/img404/3092/shadowh.jpg') no-repeat top;
    width: 400px;
    
	
}

#footer {
	position: relative;
    margin-top: -180px; /* negative value of footer height */
    height: 180px;
    clear:both;
    color: :white;
}

/* Global Styling */

a:visited, a:link {
	color:#a43b55;
	text-decoration:underline;
	background:none;
}

a:hover {
	color:#a43b55;
	text-decoration:none;
	background:none;
}

h1 {
	color:#F5F5F5;
	margin:0 0 10px;
	padding-bottom:10px;
	font:normal 17px Georgia, serif;
	border-bottom:1px solid #efece7;
}

h2 {
	color:#F0FFFF;
	margin:5px 0 10px;
	padding-bottom:5px;
	font:normal 17px Georgia, serif;
	border-bottom:10px solid #efece7;
	background-color: #000000;
	float: center;
}

h3 {
	color:#7a2e40;
	margin:10px 0;
	padding-bottom:20px;
	font:bold 14px Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	border-bottom:10px solid #000000;
}

ul {
	padding:0;
	margin:0 0 0 17px;
   list-style:square url('http://img525.imageshack.us/img525/1890/bulletr.gif');
}

.box {
	background:#ADFF2F;
	border:1px solid #f0e9eb;
	padding:15px;
	font-size: 1.2em;
	
}
.quotes{
	background: #7FFF00;
}

.gallery {

	float: center;
	margin-left: 50px;
	margin-right: 50px;
}

div.vertical-line{
  width: 1px; /* Line width */
  background-color: black; /* Line color */
  height: 100%; /* Override in-line if you want specific height. */
  float: left; /* Causes the line to float to left of content. 
    You can instead use position:absolute or display:inline-block
    if this fits better with your design */
}

#nav a {
	margin: 0 50px;
}

#nav a:visited, #nav a:link {
	text-decoration:none;
	color:#f6dde3;
}

#nav a:hover {
	text-decoration:underline;
	color:#f6dde3;
}

#logo {
	margin-bottom:20px;
	font:normal 18px Georgia, serif;
	color:#4B0082;
	text-align:center;
	background-color: #90EE90;
}
.about {

	float: right;
}

.img {
	float: left;

}

.section {
	color: #0F0604;
	background-color: #635A58;
	color:#F5F5F5;
}


.company {
	color: #1A1AEA;
}

.title {
	color: #460A6B;
}

.activity {
	color: #080F47;
}

img{
	float: left;
	margin-right: 15px;

}

li {

	color: #101111;

}

}